# Projeto de Bases de Dados - Parte 3

### Docente Responsável

Prof. Flávio Martins

### Grupo 55
<dl>
    <dt>16 horas (33.3%)</dt>
    <dd>ist103471 João Fidalgo</dd>
    <dt>16 horas (33.3%)</dt>
    <dd>ist103938 José Lopes</dd>
    <dt>16 horas (33.3%)</dt>
    <dd>ist104139 Rodrigo Friães</dd>
<dl>

In [1]:
%load_ext sql
%sql postgresql://jimei:jimei@postgres/jimei

# Empresa de comércio online

## 0. Carregamento da Base de Dados

Carregue o esquema de Base de Dados apresentado no Anexo A.

In [2]:
%%sql

DROP TABLE IF EXISTS customer CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS pay CASCADE;
DROP TABLE IF EXISTS employee CASCADE;
DROP TABLE IF EXISTS process CASCADE;
DROP TABLE IF EXISTS department CASCADE;
DROP TABLE IF EXISTS workplace CASCADE;
DROP TABLE IF EXISTS works CASCADE;
DROP TABLE IF EXISTS office CASCADE;
DROP TABLE IF EXISTS warehouse CASCADE;
DROP TABLE IF EXISTS product CASCADE;
DROP TABLE IF EXISTS contains CASCADE;
DROP TABLE IF EXISTS supplier CASCADE;
DROP TABLE IF EXISTS delivery CASCADE;

CREATE TABLE customer(
cust_no INTEGER PRIMARY KEY,
name VARCHAR(80) NOT NULL,
email VARCHAR(254) UNIQUE NOT NULL,
phone VARCHAR(15),
address VARCHAR(255)
);

CREATE TABLE orders(
order_no INTEGER PRIMARY KEY,
cust_no INTEGER NOT NULL REFERENCES customer,
date DATE NOT NULL
--order_no must exist in contains
);

CREATE TABLE pay(
order_no INTEGER PRIMARY KEY REFERENCES orders,
cust_no INTEGER NOT NULL REFERENCES customer
);

CREATE TABLE employee(
ssn VARCHAR(20) PRIMARY KEY,
TIN VARCHAR(20) UNIQUE NOT NULL,
bdate DATE,
name VARCHAR NOT NULL
--age must be >=18
);

CREATE TABLE process(
ssn VARCHAR(20) REFERENCES employee,
order_no INTEGER REFERENCES orders,
PRIMARY KEY (ssn, order_no)
);

CREATE TABLE department(
name VARCHAR PRIMARY KEY
);

CREATE TABLE workplace(
address VARCHAR PRIMARY KEY,
lat NUMERIC(8, 6) NOT NULL,
long NUMERIC(9, 6) NOT NULL,
UNIQUE(lat, long)
--address must be in warehouse or office but not both
);

CREATE TABLE office(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE warehouse(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE works(
ssn VARCHAR(20) REFERENCES employee,
name VARCHAR(200) REFERENCES department,
address VARCHAR(255) REFERENCES workplace,
PRIMARY KEY (ssn, name, address)
);

CREATE TABLE product(
SKU VARCHAR(25) PRIMARY KEY,
name VARCHAR(200) NOT NULL,
description VARCHAR,
price NUMERIC(10, 2) NOT NULL,
ean NUMERIC(13) UNIQUE
);

CREATE TABLE contains(
order_no INTEGER REFERENCES orders,
SKU VARCHAR(25) REFERENCES product,
qty INTEGER,
PRIMARY KEY (order_no, SKU)
);

CREATE TABLE supplier(
TIN VARCHAR(20) PRIMARY KEY,
name VARCHAR(200),
address VARCHAR(255),
SKU VARCHAR(25) REFERENCES product,
date DATE
);

CREATE TABLE delivery(
address VARCHAR(255) REFERENCES warehouse,
TIN VARCHAR(20) REFERENCES supplier,
PRIMARY KEY (address, TIN)
);

*  postgresql://jimei:***@postgres/jimei
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

Crie as instruções para o seu preenchimento de forma consistente, garantindo que todas as consultas SQL e OLAP, apresentadas mais adiante, produzam um resultado não vazio.

In [3]:
%%sql
-- populate.sql

insert into customer (cust_no, name, email, phone, address) 
values (1, 'Tomás Cruz', 'aaaa@gmail.com', 911111111, 'Rua 1º de Maio, 1300-473 LISBOA'),
(2, 'João Rocha', 'bbbb@gmail.com', 922222222, 'Rua 1 do Bairro da Boavista, 1500-608 LISBOA'),
(3, 'Madalena Correia', 'cccc@gmail.com', 933333333, 'Av. Elísio de Moura 155, 3034-001 COIMBRA'),
(4, 'Diogo Ferreira', 'dddd@gmail.com', 944444444, 'R. Dom Paio Mendes, 4700-424 BRAGA'),
(5, 'Eduardo Matias', 'eeee@gmail.com', 955555555, 'Rua Lidador, 4100-307 PORTO'),
(6, 'Filipa Gomes', 'ffff@gmail.com', 966666666, 'Av. Prof. Francisco da Gama Caeiro, 1600-234 LISBOA'),
(7, 'Gusttavo Lima', 'gggg@gmail.com', 977777777, 'Rua Artilharia 1, 1250-036 LISBOA'),
(8, 'Hugo Miranda', 'hhhh@gmail.com', 988888888, 'Avenida da Lousã Almedina, 3030-476 COIMBRA'),
(9, 'Igor Rodrigues', 'iiii@gmail.com', 999999999, 'Via Futebol Clube do Porto, 4350-415 PORTO'),
(10, 'Jessica Santos', 'jjjj@gmail.com', 900000010, 'Rua 1º de Maio, 2750-039 CASCAIS'),
(11, 'Kevin Bueno', 'kkkk@gmail.com', 911111011, 'Largo 5 de Outubro, 2750-026 CASCAIS'),
(12, 'Leonor Fernandes', 'llll@gmail.com', 922222212, 'Alameda dos Oceanos, 1990-505 LISBOA'),
(13, 'Marcelo Sousa', 'mmmm@gmail.com', 933333313, 'Rua Poente São Victor 66, 4719-002 BRAGA'),
(14, 'Nuno Nunes', 'nnnn@gmail.com', 944444414, 'Largo do Carmo 77, 8004-003 FARO'),
(15, 'Olivia Pires', 'oooo@gmail.com', 955555515, 'Rua de São Geraldo 69, 4704-535 BRAGA'),
(16, 'Pedro Prado', 'pppp@gmail.com', 966666616, 'Rua de São Brás 233, 4049-004 PORTO'),
(17, 'André Antunes', 'qqqq@gmail.com', 977777717, 'Av. 24 de Janeiro, 1549-007 LISBOA'),
(18, 'Ruben Cruz', 'rrrr@gmail.com', 988888818, 'Largo da Sé, 1100-585 LISBOA'),
(19, 'Sónia Ribeiro', 'ssss@gmail.com', 999999919, 'Rua 1º Cabo José Martins Silvestre, 1800-310 LISBOA'),
(20, 'Tiago Catalunha', 'tttt@gmail.com', 900000020, 'Rua Alfredo Cortês, 1700-026 LISBOA');


insert into orders (order_no, cust_no, date)
values (11113, 1, TO_DATE('31-12-2022', 'DD-MM-YYYY')),
(11112, 2, TO_DATE('21-05-2023', 'DD-MM-YYYY')),
(11111, 3, TO_DATE('11-07-2022', 'DD-MM-YYYY')),
(11114, 20, TO_DATE('23-05-2022', 'DD-MM-YYYY')),
(11115, 1, TO_DATE('05-12-2022', 'DD-MM-YYYY')),
(11116, 2, TO_DATE('02-02-2022', 'DD-MM-YYYY')),
(11117, 17, TO_DATE('10-01-2023', 'DD-MM-YYYY')),
(11118, 4, TO_DATE('01-01-2023', 'DD-MM-YYYY')),
(11119, 6, TO_DATE('21-05-2023', 'DD-MM-YYYY')),
(11120, 6, TO_DATE('05-12-2022', 'DD-MM-YYYY')),
(11121, 5, TO_DATE('29-10-2022', 'DD-MM-YYYY')),
(11122, 7, TO_DATE('11-07-2022', 'DD-MM-YYYY')),
(11123, 8, TO_DATE('02-02-2022', 'DD-MM-YYYY')),
(11124, 7, TO_DATE('10-01-2023', 'DD-MM-YYYY')),
(11125, 4, TO_DATE('24-07-2022', 'DD-MM-YYYY')),
(11126, 9, TO_DATE('21-05-2023', 'DD-MM-YYYY')),
(11127, 10, TO_DATE('23-05-2022', 'DD-MM-YYYY')),
(11128, 11, TO_DATE('23-05-2022', 'DD-MM-YYYY')),
(11129, 4, TO_DATE('18-08-2022', 'DD-MM-YYYY')),
(11130, 10, TO_DATE('03-02-2023', 'DD-MM-YYYY')),
(11131, 18, TO_DATE('21-09-2023', 'DD-MM-YYYY')),
(11132, 13, TO_DATE('23-05-2022', 'DD-MM-YYYY')),
(11133, 16, TO_DATE('02-02-2022', 'DD-MM-YYYY')),
(11134, 19, TO_DATE('24-07-2022', 'DD-MM-YYYY')),
(11135, 12, TO_DATE('24-07-2022', 'DD-MM-YYYY')),
(11136, 14, TO_DATE('10-06-2023', 'DD-MM-YYYY')),
(11137, 12, TO_DATE('31-12-2022', 'DD-MM-YYYY')),
(11138, 18, TO_DATE('11-07-2022', 'DD-MM-YYYY')),
(11139, 15, TO_DATE('29-10-2022', 'DD-MM-YYYY')),
(11140, 11, TO_DATE('05-12-2022', 'DD-MM-YYYY')),
(11141, 1, TO_DATE('16-04-2022', 'DD-MM-YYYY')),
(11142, 3, TO_DATE('17-05-2022', 'DD-MM-YYYY')),
(11143, 6, TO_DATE('30-11-2022', 'DD-MM-YYYY')),
(11144, 18, TO_DATE('12-12-2022', 'DD-MM-YYYY')),
(11145, 11, TO_DATE('03-12-2022', 'DD-MM-YYYY')),
(11146, 18, TO_DATE('05-12-2022', 'DD-MM-YYYY')),
(11147, 15, TO_DATE('06-02-2022', 'DD-MM-YYYY')),
(11148, 17, TO_DATE('13-01-2022', 'DD-MM-YYYY')),
(11149, 11, TO_DATE('05-12-2022', 'DD-MM-YYYY')),
(11150, 1, TO_DATE('02-10-2022', 'DD-MM-YYYY')),
(11151, 4, TO_DATE('15-06-2022', 'DD-MM-YYYY')),
(11152, 13, TO_DATE('08-11-2022', 'DD-MM-YYYY')),
(11153, 19, TO_DATE('19-04-2022', 'DD-MM-YYYY')),
(11154, 5, TO_DATE('05-05-2022', 'DD-MM-YYYY')),
(11155, 2, TO_DATE('12-03-2022', 'DD-MM-YYYY')),
(11156, 14, TO_DATE('02-10-2022', 'DD-MM-YYYY')),
(11157, 7, TO_DATE('28-09-2022', 'DD-MM-YYYY')),
(11158, 16, TO_DATE('23-08-2022', 'DD-MM-YYYY')),
(11159, 1, TO_DATE('02-10-2022', 'DD-MM-YYYY')),
(11160, 20, TO_DATE('23-08-2022', 'DD-MM-YYYY')),
(11161, 7, TO_DATE('28-09-2022', 'DD-MM-YYYY')),
(11162, 11, TO_DATE('05-12-2022', 'DD-MM-YYYY')),
(11163, 8, TO_DATE('02-02-2022', 'DD-MM-YYYY')),
(11164, 3, TO_DATE('11-07-2022', 'DD-MM-YYYY')),
(11165, 1, TO_DATE('31-12-2022', 'DD-MM-YYYY')),
(11166, 2, TO_DATE('12-03-2022', 'DD-MM-YYYY')),
(11167, 13, TO_DATE('08-11-2022', 'DD-MM-YYYY')),
(11168, 15, TO_DATE('29-10-2022', 'DD-MM-YYYY'));


insert into employee (ssn, TIN, bdate, name)
values ('E-1', '123456789', TO_DATE('01-04-2003', 'DD-MM-YYYY'),'João Fidalgo'),
('E-2', '123123123',TO_DATE('30-09-2003', 'DD-MM-YYYY'), 'José Lopes'),
('E-3', '321321321',TO_DATE('08-08-2003', 'DD-MM-YYYY'), 'Rodrigo Friães'),
('E-4', '123412452',TO_DATE('25-12-1967', 'DD-MM-YYYY'), 'Manuel Serra'),
('E-5', '197452475',TO_DATE('17-07-1961', 'DD-MM-YYYY'), 'António Costa'),
('E-6', '523542455',TO_DATE('30-04-1949', 'DD-MM-YYYY'), 'Manuel Guterres');


insert into process (ssn, order_no)
values ('E-2', 11148),
('E-2', 11116),
('E-1', 11123),
('E-3', 11133),
('E-4', 11163),
('E-2', 11147),
('E-2', 11155),
('E-5', 11166),
('E-2', 11141),
('E-2', 11153),
('E-2', 11154),
('E-2', 11142),
('E-2', 11114),
('E-1', 11127),
('E-3', 11128),
('E-5', 11132),
('E-2', 11151),
('E-2', 11111),
('E-3', 11122),
('E-4', 11138),
('E-6', 11164),
('E-2', 11125),
('E-1', 11134),
('E-5', 11135),
('E-2', 11129),
('E-2', 11158),
('E-1', 11160),
('E-2', 11157),
('E-1', 11161),
('E-2', 11150),
('E-3', 11156),
('E-4', 11159),
('E-2', 11121),
('E-1', 11139),
('E-4', 11168),
('E-2', 11152),
('E-3', 11167),
('E-2', 11143),
('E-2', 11145),
('E-2', 11115),
('E-3', 11120),
('E-4', 11140),
('E-5', 11146),
('E-6', 11149),
('E-1', 11162),
('E-2', 11144),
('E-2', 11113),
('E-1', 11137),
('E-6', 11165);


insert into department (name) 
values ('Manufacturing'),
('Management'),
('Human resources');

insert into workplace (address, lat, long)
values ('Grand Rapids, MI 49512, USA', 45.34, 45.275643),
('Asteriastraat 1, 5047 Tilburg, Netherlands', 11.4, 07.76435),
('Av. Rovisco Pais, Nº 1. 1049-001 Lisboa, Portugal', 31.8923, 56.6123),
('Amelia Cliffs, Apt.045, AR 12207, USA', -23.3654, 56.253),
('Paseo Font 247, 9º D, 07975 Valladolid, Spain', 34.3, 78.64),
('Öhringen, 29796 Bremen, Germany', 23.35, 52.02859 );

insert into Office (address)
values ('Av. Rovisco Pais, Nº 1. 1049-001 Lisboa, Portugal'),
('Amelia Cliffs, Apt.045, AR 12207, USA'),
('Paseo Font 247, 9º D, 07975 Valladolid, Spain');

insert into Warehouse (address)
values ('Grand Rapids, MI 49512, USA'),
('Öhringen, 29796 Bremen, Germany'),
('Asteriastraat 1, 5047 Tilburg, Netherlands');


insert into works (ssn, name, address)
values ('E-1', 'Management', 'Av. Rovisco Pais, Nº 1. 1049-001 Lisboa, Portugal'),
('E-2', 'Manufacturing', 'Grand Rapids, MI 49512, USA'),
('E-3', 'Human resources', 'Asteriastraat 1, 5047 Tilburg, Netherlands'),
('E-4', 'Manufacturing', 'Paseo Font 247, 9º D, 07975 Valladolid, Spain'),
('E-5', 'Manufacturing', 'Öhringen, 29796 Bremen, Germany'),
('E-6', 'Manufacturing', 'Amelia Cliffs, Apt.045, AR 12207, USA');


insert into product (SKU, name, description, price, ean)
values ('P-1','A-JIMEI keyboard', 'Reliable and durable mechanical keyboard', 99.99, 7457982594561),
('P-2', 'JIMEI gaming chair', 'Comfortable and fully reclining chair', 359.99, 1234566787654),
('P-3', 'JIMEI wireless mouse', '3 types of DPI, featuring side buttons for gaming', 49.99, 1916921353653);


insert into contains (order_no, SKU, qty)
values (11113, 'P-3', 3),
(11112, 'P-2', 2),
(11111, 'P-3', 1),
(11114, 'P-1', 1),
(11115, 'P-3', 1),
(11116, 'P-2', 2),
(11117, 'P-1', 5),
(11117, 'P-2', 2),
(11118, 'P-2', 1),
(11118, 'P-3', 1),
(11119, 'P-1', 2),
(11119, 'P-3', 1),
(11120, 'P-1', 1),
(11120, 'P-2', 1),
(11121, 'P-2', 1),
(11121, 'P-1', 2),
(11122, 'P-3', 1),
(11122, 'P-2', 1),
(11123, 'P-2', 4),
(11124, 'P-1', 1),
(11125, 'P-3', 1),
(11126, 'P-3', 1),
(11127, 'P-2', 1),
(11127, 'P-1', 2),
(11127, 'P-3', 1),
(11128, 'P-1', 1),
(11129, 'P-1', 3),
(11130, 'P-2', 1),
(11131, 'P-2', 1),
(11131, 'P-3', 1),
(11132, 'P-1', 2),
(11133, 'P-3', 1),
(11134, 'P-2', 2),
(11134, 'P-1', 2),
(11135, 'P-1', 1),
(11136, 'P-2', 1),
(11137, 'P-3', 1),
(11137, 'P-2', 2),
(11138, 'P-3', 1),
(11139, 'P-1', 3),
(11140, 'P-3', 1),
(11140, 'P-2', 1),
(11141,'P-1', 1),
(11142, 'P-1', 3),
(11142, 'P-2', 4),
(11143, 'P-3', 6),
(11144, 'P-3', 1),
(11145, 'P-3', 6),
(11146, 'P-2', 8),
(11146, 'P-1', 7),
(11147, 'P-1', 1),
(11148, 'P-2', 7),
(11149, 'P-3', 3),
(11149, 'P-2', 2),
(11150, 'P-2', 1),
(11151,'P-1', 4),
(11152, 'P-2', 3),
(11153, 'P-3', 2),
(11153, 'P-2', 1),
(11154,'P-1', 5),
(11155, 'P-3', 2),
(11155, 'P-1', 2),
(11155, 'P-2', 2),
(11156, 'P-2', 4),
(11157, 'P-3', 3),
(11157, 'P-1', 4),
(11157, 'P-2', 2),
(11158,'P-1', 6),
(11159, 'P-1', 1),
(11159, 'P-2', 1),
(11160, 'P-3', 2),
(11161, 'P-2', 1),
(11162, 'P-1', 1),
(11163, 'P-3', 2),
(11163, 'P-2', 1),
(11164, 'P-3', 1),
(11165, 'P-1', 3),
(11166, 'P-2', 1),
(11167, 'P-3', 2),
(11168, 'P-1', 1);


insert into supplier (TIN, name, address, SKU)
values ('S-1', 'Peripherals Warehouse', 'R Cortinhas Fonte 94, Porto, Portugal', 'P-1'),
('S-2', 'Chairs and Desks', 'Rua Jorge Sena 90, Lisboa, Portugal', 'P-2'),
('S-3', 'Hamsters', 'Rua da Revolução 10, Alcochete, Portugal', 'P-3');

            
insert into delivery (address, TIN)
values ('Grand Rapids, MI 49512, USA', 'S-1'),
('Öhringen, 29796 Bremen, Germany', 'S-1'),
('Asteriastraat 1, 5047 Tilburg, Netherlands', 'S-2'),
('Grand Rapids, MI 49512, USA', 'S-3');

*  postgresql://jimei:***@postgres/jimei
20 rows affected.
58 rows affected.
6 rows affected.
49 rows affected.
3 rows affected.
6 rows affected.
3 rows affected.
3 rows affected.
6 rows affected.
3 rows affected.
80 rows affected.
3 rows affected.
4 rows affected.

[]

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Nenhum empregado pode ter menos de 18 anos de idade

In [4]:
%%sql
-- (RI-1)
ALTER TABLE employee
ADD CONSTRAINT check_age CHECK (CURRENT_DATE - bdate >= 6574);

*  postgresql://jimei:***@postgres/jimei
Done.

[]

(RI-2) Um 'Workplace' é obrigatoriamente um 'Office' ou 'Warehouse' mas não pode ser ambos

In [5]:
%%sql
-- (RI-2)
/*---------------------------------WORKPLACE---------------------------------------*/
CREATE OR REPLACE FUNCTION check_workplace() RETURNS TRIGGER AS $$
BEGIN
  IF (SELECT COUNT(*) FROM office WHERE address = NEW.address) = 0  AND (SELECT COUNT(*) FROM warehouse WHERE address = NEW.address) = 0 THEN 
    RAISE EXCEPTION 'O local de trabalho tem de pertencer a um tipo.';
  END IF;
  
  IF (SELECT COUNT(*) FROM office WHERE address = NEW.address) > 0  AND (SELECT COUNT(*) FROM warehouse WHERE address = NEW.address) > 0 THEN 
    RAISE EXCEPTION 'O local de trabalho apenas pode pertencer a um tipo.';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE CONSTRAINT TRIGGER check_workplace_trigger AFTER INSERT ON workplace
 DEFERRABLE INITIALLY DEFERRED
 FOR EACH ROW EXECUTE FUNCTION check_workplace();

/*-----------------------------------OFFICE----------------------------------------*/
CREATE OR REPLACE FUNCTION check_office() RETURNS TRIGGER AS $$
BEGIN
  IF (SELECT COUNT(*) FROM warehouse WHERE address = NEW.address) > 0 THEN 
    RAISE EXCEPTION 'O local de trabalho já é um armazém.';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE CONSTRAINT TRIGGER check_office_trigger AFTER INSERT ON office
 DEFERRABLE INITIALLY DEFERRED
 FOR EACH ROW EXECUTE FUNCTION check_office();
 
/*---------------------------------WAREHOUSE---------------------------------------*/

CREATE OR REPLACE FUNCTION check_warehouse() RETURNS TRIGGER AS $$
BEGIN
  IF (SELECT COUNT(*) FROM office WHERE address = NEW.address) > 0 THEN 
    RAISE EXCEPTION 'O local de trabalho já é um escritório.';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE CONSTRAINT TRIGGER check_warehouse_trigger AFTER INSERT ON warehouse
 DEFERRABLE INITIALLY DEFERRED
 FOR EACH ROW EXECUTE FUNCTION check_warehouse();

*  postgresql://jimei:***@postgres/jimei
Done.
Done.
Done.
Done.
Done.
Done.

[]

(RI-3) Uma 'Order' tem de figurar obrigatoriamente em 'Contains'.

In [6]:
%%sql
-- (RI-3)
CREATE OR REPLACE FUNCTION order_contains() RETURNS TRIGGER AS $$
BEGIN
  IF (SELECT COUNT(*) FROM contains WHERE order_no = NEW.order_no) = 0 THEN 
    RAISE EXCEPTION 'Encomenda vazia.';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE CONSTRAINT TRIGGER order_contains_trigger AFTER INSERT ON orders
 DEFERRABLE INITIALLY DEFERRED
 FOR EACH ROW EXECUTE FUNCTION order_contains();

*  postgresql://jimei:***@postgres/jimei
Done.
Done.

[]

## 2. Consultas SQL

Apresente a consulta SQL mais sucinta para cada uma das seguintes questões

1) Qual o número e nome do(s) cliente(s) com maior valor total de encomendas pagas?

In [7]:
%%sql

-- SELECT ...
WITH cust_paid_orders AS (
        SELECT cust_no, COUNT(*) AS n_orders
             FROM pay
             GROUP BY cust_no),
    top_paid_orders AS (
        SELECT MAX(n_orders) AS n_orders
            FROM cust_paid_orders)

SELECT cust_no, name
    FROM (cust_paid_orders JOIN top_paid_orders USING (n_orders))
    JOIN customer USING (cust_no)

*  postgresql://jimei:***@postgres/jimei
0 rows affected.

[]

2. Qual o nome dos empregados que processaram encomendas em todos os dias de 2022 em que houve encomendas?

In [8]:
%%sql

-- SELECT ...
SELECT name
    FROM employee join (
        SELECT DISTINCT ssn
            FROM process p 
            WHERE NOT EXISTS (
                SELECT DISTINCT date
                    FROM orders
                    WHERE EXTRACT(YEAR FROM date) = 2022
                EXCEPT
                SELECT date
                    FROM (process join orders using (order_no)) as j
                    WHERE p.ssn = j.ssn
            )
    ) as e_ssn using (ssn)

*  postgresql://jimei:***@postgres/jimei
1 rows affected.

[('José Lopes',)]

3. Quantas encomendas foram realizadas mas não pagas em cada mês de 2022?

In [9]:
%%sql
-- SELECT ...

WITH months AS (
        SELECT month 
            FROM GENERATE_SERIES(1, 12) AS month),
    count_not_paid AS (
        SELECT EXTRACT(MONTH FROM date) AS month, COUNT(*) AS n
            FROM orders o
            WHERE NOT EXISTS(
                SELECT *
                    FROM pay p
                    WHERE p.order_no=o.order_no
            ) 
            AND EXTRACT(YEAR FROM date) = 2022
            GROUP BY month)

SELECT month, COALESCE(n, 0) AS number_of_not_paid_orders
    FROM count_not_paid FULL JOIN months USING (month)
    ORDER BY month

*  postgresql://jimei:***@postgres/jimei
12 rows affected.

[(Decimal('1'), 1),
 (Decimal('2'), 5),
 (Decimal('3'), 2),
 (Decimal('4'), 2),
 (Decimal('5'), 6),
 (Decimal('6'), 1),
 (Decimal('7'), 7),
 (Decimal('8'), 3),
 (Decimal('9'), 2),
 (Decimal('10'), 6),
 (Decimal('11'), 3),
 (Decimal('12'), 11)]

## 3. Vistas

Crie uma vista que resuma as informações mais importantes sobre as vendas de produtos, combinando informações de diferentes tabelas do esquema de base de dados. A vista deve ter o seguinte esquema:

product_sales(sku, order_no, qty, total_price, year, month, day_of_month, day_of_week, city)

In [10]:
%%sql
-- CREATE VIEW ...
            
CREATE OR REPLACE VIEW product_sales AS
    SELECT DISTINCT SKU, COALESCE(order_no,0) AS order_no, 
    COALESCE(qty,0) as qty, 
    COALESCE(qty*price,0) AS total_price,
    EXTRACT(YEAR FROM date) AS year,
    EXTRACT(MONTH FROM date) AS month,
    EXTRACT(DAY FROM date) AS day_of_month,
    EXTRACT(DOW FROM date) AS day_of_week,
    SUBSTRING(address, POSITION(',' IN address)+11) as city
        FROM pay JOIN orders USING (order_no,cust_no) 
        JOIN contains USING (order_no)
        JOIN product USING (SKU)
        JOIN customer  USING (cust_no)
        ORDER BY sku, year, month, day_of_month;

*  postgresql://jimei:***@postgres/jimei
Done.

[]

## 4. Desenvolvimento de Aplicação

### Explicação da arquitetura da aplicação web, incluindo um link para uma versão de trabalho e as relações entre os vários ficheiros na pasta web/arquivos

### Explicação breve do funcionamento da aplicação web
- Todos as páginas da aplicação web estão ligadas por um menu inicial que se econtra sempre acessível através do botão **Main page** no canto superior direito.
- O menu **Products** permite visualizar todos os produtos presentes na base de dados por ordem alfabética, juntamente com a possibilidade de editar a informação relativa a cada produto, através do botão **Edit**, e de criar novos produtos através do botão **New**.
- O menu **Suppliers** permite visualizar todos os suppliers presentes na base de dados por ordem crescente de TIN, juntamente com a possibilidade de serem removidos através do botão **Delete** e de criar novos suppliers através do botão **New**.
- O menu **Customers** permite visualizar todos os costumers presentes na base de dados por ordem crescente do cust_no, juntamente com a possibilidade de serem removidos, através do botão **Delete**, e de criar novos costumers através do botão **New**.
- O menu **Orders** permite visualizar todas as orders presentes na base de dados, por ordem crescente da data de realização da mesma, tanto como removê-las.
- O menu **Customer orders**, é um menu com uma perspetiva do customer, ou seja, primeiramente pede-se o seu ID (cust_no), como um protótipo de uma página de login, ao inserir o último, surge a página que contém todas as orders realizadas (pagas ou por pagar) do respetivo customer, por ordem da mais recente para a mais antiga. Ao clicar em **Info** é possível visualizar a informação de cada order, juntamente com a possibilidade de pagar a mesma ou removê-la. Ao ser paga, a order aparece como paid, sendo impossível voltar a pagá-la e/ou removê-la. Como em todos os outros menus, o botão **New** permite criar novas orders para o customer selecionado inicialmente.

### Ficheiros da pasta web
- **Pasta static** - Contém um ficheiro do tipo css, onde estão os valores para os diferentes estilos de elementos escritos, utilizados nas páginas html.
- **Pasta templates** - contém ficheiros em html e pastas também com ficheiros em html, que são respetivamente, as estruturas das páginas da web.
- **app.cgi** - É o ponto de entrada para executar a app.py. Atua como uma ponte entre o servidor da web e o ficheiro app.py, o que permite o processamento de solicitações e interações dinâmicas.
- **app.py**- Ficheiro em python que contém todos os queries necessários para a realização das funcionalidades da web, e faz a ligação entre as diferentes páginas html.
- **wsgi.py** - Lida com a configuração e inicialização do servidor WSGI.
- **Procfile** - Define o processo que executa o Flask através do servidor HTTP Gunicorn.

## 5. Consultas OLAP

Usando a vista desenvolvida para a Questão 3, escreva duas consultas SQL que permitam analisar:

1. As quantidade e valores totais de venda de cada produto em 2022, globalmente, por cidade, por mês, dia do mês e dia da semana

In [11]:
%%sql
-- SELECT ...

DROP TABLE IF EXISTS calendar;
CREATE TABLE calendar(
month INTEGER,
day_of_month INTEGER,
day_of_week INTEGER);

INSERT INTO calendar (month, day_of_month, day_of_week)
SELECT EXTRACT(MONTH FROM date) AS month,
EXTRACT(DAY FROM date) AS day_of_month,
EXTRACT(DOW FROM date) AS day_of_week
    FROM (SELECT i::date as date
            FROM GENERATE_SERIES('2022-01-01', 
            '2022-12-31', '1 day'::interval) i) as dates;

WITH SKUs AS (
        SELECT DISTINCT SKU
            FROM product_sales),
    Cities AS (
        SELECT DISTINCT city
            FROM product_sales),
    Complete AS (
        SELECT *
            FROM SKUs, Cities, calendar)
    
SELECT sku, city, month, day_of_month, day_of_week, 
SUM(COALESCE(qty,0)) as total_quantity, SUM(COALESCE(total_price,0)) as total_price
    FROM Complete FULL JOIN product_sales USING (sku, city, month, day_of_month, day_of_week)
    WHERE year = 2022
    GROUP BY GROUPING SETS((),(sku),(sku,city),(sku,month),(sku,day_of_month),(sku,day_of_week))
    ORDER BY sku,city,month,day_of_month,day_of_week

*  postgresql://jimei:***@postgres/jimei
Done.
Done.
365 rows affected.
1 rows affected.

[(None, None, None, None, None, None, None)]

2. O valor médio diário das vendas de todos os produtos em 2022, globalmente, por mês e dia da semana

In [12]:
%%sql
-- SELECT ...

DROP TABLE IF EXISTS calendar;
CREATE TABLE calendar(
month INTEGER,
day_of_month INTEGER,
day_of_week INTEGER);

INSERT INTO calendar (month, day_of_month, day_of_week)
SELECT EXTRACT(MONTH FROM date) AS month,
EXTRACT(DAY FROM date) AS day_of_month,
EXTRACT(DOW FROM date) AS day_of_week
    FROM (SELECT i::date as date
            FROM GENERATE_SERIES('2022-01-01', 
            '2022-12-31', '1 day'::interval) i) as dates;

WITH Complete AS (
        SELECT DISTINCT p.SKU, c.month, c.day_of_month, c.day_of_week
            FROM product_sales p, calendar c),
    daily_total AS (
        SELECT month, day_of_month, day_of_week, 
        SUM(COALESCE(total_price,0)) as total_price
            FROM product_sales FULL JOIN Complete USING (SKU, month ,day_of_month, day_of_week)
            WHERE year = 2022
            GROUP BY month, day_of_month, day_of_week
            ORDER BY month, day_of_month)

SELECT month, day_of_week, AVG(total_price) as average_price
    FROM daily_total
    GROUP BY GROUPING SETS((),(month),(day_of_week))
    ORDER BY month, day_of_week

*  postgresql://jimei:***@postgres/jimei
Done.
Done.
365 rows affected.
1 rows affected.

[(None, None, None)]

## 6. Índices

Indique, com a devida justificação, que tipo de índice(s), sobre qual(is) atributo(s) e sobre qual(is) tabela(s) faria sentido criar, de forma a agilizar a execução de cada uma das seguintes consultas:

### 6.1
SELECT order_no
FROM orders 
JOIN contains USING (order_no) 
JOIN product USING (SKU) 
WHERE price > 50 AND 
EXTRACT(YEAR FROM date) = 2023

### Tipo de Índice, Atributos & Justificação

Os dois tipos de índices que fazem sentido nesta situação é a de B-Tree para o atributo price e Hash para o atributo date, já que a B-Tree permite fazer procuras de ranges (que é o caso) de forma muito eficiente. O mesmo raciocínio se aplica ao Hash em relação a procuras de igualdade, como o caso da date.

Como order_no é tanto PK em orders como em contains, esse JOIN não necessita de nenhum índice adicional.
Como SKU é tanto PK em orders como em product, esse JOIN não necessita de nenhum índice adicional.

### 6.2
SELECT order_no, SUM(qty*price)
FROM contains 
JOIN product USING (SKU) 
WHERE name LIKE ‘A%’ 
GROUP BY order_no;

### Tipo de Índice, Atributos & Justificação

O tipo de índice que faz sentido neste caso é uma B-Tree dado que a natural organização da B-Tree permite aceder facilmente aos nomes que comecem com a letra 'A'.

Como SKU é PK tanto em contains como em product, o JOIN não necessita de nenhum índice adicional.